.content{
    height: 60px;
    width: 1000px;
  color: blue;
  padding-top: 13px;
  border-right-style: solid;
  border-right-width: 4px;
  border-top-style: solid;
  border-top-width: 5px;
  margin-top: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-left-width: 4px;
  border-left-style: solid;
  height: 60px;
  border-radius: 21px;
}
body{
    background-image: url(006.webp);
   background-repeat: no-repeat;
   background-size: cover;
}
nav{
    color: blue;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    font-size: 433%;
}
a{
  font-size: x-large;
}